################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/DinoRun/v15/Server/sqlite3/db.lock
/.vs/DinoRun/v15/Server/sqlite3/storage.ide
/.vs/DinoRun/v15/Server/sqlite3
